@model List<Portfolio_Website.DAL_Data_Access_Layer_.Entities.Experience>

<div class="row about-content about-content--timeline">
    <div class="col-full text-center">
        <h3>Deneyimlerim</h3>
    </div>

    @foreach(var item in Model)
    {
        <div class="col-six tab-full left">
        <div class="timeline">
        <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
                <p class="timeline__timeframe">@item.Date</p>
                <h3>@item.Head</h3>
                <h5>@item.Title</h5>
            </div>
            <div class="timeline__desc">
                <p>@item.Description</p>
            </div>
        </div>
        </div>
        </div>
    }
    @* <div class="col-six tab-full left">
        <div class="timeline">
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Mayıs 2024 - Mayıs 2025</p>
                    <h3>Türk Silahlı Kuvvetleri</h3>
                    <h5>Yedek Subay</h5>
                </div>
                <div class="timeline__desc">
                    <p>Takım yönetimi ve koordinasyonu görevlerinde bulundum.</p>
                </div>
            </div>

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Mart 2023 - Mayıs 2024</p>
                    <h3>Cmos Teknoloji</h3>
                    <h5>Junior Software Engineer</h5>
                </div>
                <div class="timeline__desc">	
                    <p>- Unity ve C# ile geliştirilen oyunlarda hata ayıklama ve performans geliştirmeleri gerçekleştirdim.<br>
                       - Yeni oyun projelerinde aktif rol aldım.<br>
                       - Flutter ile geliştirilen mobil uygulamalara destek sağladım.<br>
                       - Yazılım süreçlerinde ekip çalışmasına katkı sundum.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-six tab-full right">
        <div class="timeline">
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Şubat 2023 - Mart 2023</p>
                    <h3>RTM Elektronik</h3>
                    <h5>Junior Software Engineer</h5>
                </div>
                <div class="timeline__desc">	
                    <p>Odoo altyapısı üzerinde HTML ve CSS kullanarak kullanıcı dostu, mobil uyumlu web arayüzleri geliştirdim.</p>
                </div>
            </div>

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Temmuz 2021 - Temmuz 2021</p>
                    <h3>Kırklareli Üniversitesi</h3>
                    <h5>Proje Stajyeri</h5>
                </div>
                <div class="timeline__desc">
                    <p>Arduino Uno tabanlı araç kontrol sistemi geliştirdim.<br>
                       - HC-05 Bluetooth modülü, L298N motor sürücü ve HC-SR04 sensörü ile çarpışma önleyici sistem tasarladım.
                    </p>
                </div>
            </div>
        </div>
    </div> *@
</div>
